{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    {{ form_start(ajoutjeuxForm, {'method': 'post', 'attr': {'class': ''}}) }}
</div>
    {{ form_end(ajoutjeuxForm) }}
{% endblock %}

{% block title %}

{% endblock %}

