{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <br>
        <h1 class="h3 mb-3 font-weight-normal text-center">Page de connexion</h1>
        <br>
        <div class="offset-md-4 col-md-4">
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                   placeholder="Email" required autofocus>
            <br>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <br>
            <div class="text-center">
                <button class="btn btn-lg btn-outline-primary" type="submit">
                    Se connecter
                </button>
            </div>

        </div>
    </form>
{% endblock %}
